<section class="home_logo">
	<div><span class="logob">rabbit</span><span class="logo">challenge</span></div>
	<div class="logo_img">
	<%= image_tag("home_rabbit_big.png", :alt => "rabbit logo", :class => "resp_image" ) %>
	</div>
</section>



